<div class="container">
    <article id="Alonissos" class="row">
        <h2 class="col-md-10 col-xs-offset-1 col-xs-10">Alonissos</h2>
        <img class="col-md-10 col-xs-offset-1 col-xs-10" src="../../Assets/images/alonissos.jpg" alt="Alonissos">
        <p class="col-md-10 col-xs-offset-1 col-xs-10" id="Alonissos">
            Off the mainland, this island, whose surrounding waters are a designated marine park full of seals and dolphins, is a nature lover's dream. The spectacular spot's crystal clear waters and beautiful beaches are perfect for diving, and its lush flora and dense forests ideal for hikes. Since the rich landscape is chock full of indigenous herbs, it's also known for its traditional medicine, and home of the International Academy of Homeopathy.
        </p>
    </article>
    <hr>
</div>