<div class="container">
    <article id="Folegandros" class="row">
        <h2 class="col-md-10 col-xs-offset-1 col-xs-10">Folegandros</h2>
        <img class="col-md-10 col-xs-offset-1 col-xs-10" src="../../Assets/images/folegandros.jpg" alt="Folegandros">
        <p class="col-md-10 col-xs-offset-1 col-xs-10" id="Folegandros">
            Folegandros is almost a Greek cliché, full of beautiful whitewashed houses with bright blue doors lining cobblestoned streets on steep cliffs. Rugged and remote, without chain hotels or package tours — not even a bank or ATM — and accessible only by ferry, the volcanic island boasts solitude in spades, secluded beaches, and incredible sunsets.
        </p>
    </article>
    <hr>
</div>