<div class="container">
    <article id="Ithaca" class="row">
        <h2 class="col-md-10 col-xs-offset-1 col-xs-10">Ithaca</h2>
        <img class="col-md-10 col-xs-offset-1 col-xs-10" src="../../Assets/images/ithaca.jpg" alt="Ithaca">
        <p class="col-md-10 col-xs-offset-1 col-xs-10" id="Ithaca">
            Most famous for being the home of Odysseus, and a prominent figure in Homer's "The Odyssey," Ithaca is said to have been inhabited since the 2nd millennium BC. Made up of two islands joined by a narrow strip of land, many visit it to see the legendary sites mentioned by Homer. However, Ithaca is more than its mythical counterpart, beckoning with secluded beaches, dramatic cliffs, beautiful olive groves, and sleepy fishing villages full of Byzantine churches and monasteries.
        </p>
    </article>
    <hr>
</div>