<div class="container">
    <article id="Syros" class="row">
        <h2 class="col-md-10 col-xs-offset-1 col-xs-10">Syros</h2>
        <img class="col-md-10 col-xs-offset-1 col-xs-10" src="../../Assets/images/syros.jpg" alt="Syros">
        <p class="col-md-10 col-xs-offset-1 col-xs-10" id="Syros">
            A favourite Athenian escape and former shipowners' vacation spot full of grand mansions, Syros is little known to foreigners. Famous for its neoclassical architecture and perfectly preserved heritage, its capital, Ermoupolis, was a 13th-century Venetian-built town and important trade and industrial centre, and boasts giant churches and beautiful villas, a stunning town hall, and labyrinthine streets and stairways.
        </p>
    </article>
    <hr>
</div>